
/*  */
.Headingupper{
    font-family: Roboto;
font-size: 70px;
font-weight: 900;
line-height: 82.03px;
text-align: center;
margin-top: 140px;
}

.Headingsub{
    font-family: Roboto;
    font-size: 70px;
    font-weight: 900;
    line-height: 82.03px;
    text-align: center;
    
}

.induspara{
    font-family: Roboto;
font-size: 19px;
font-weight: 400;
line-height: 22.27px;
text-align: center;

}

.w-industpara{
   width: 34%;
}





  @media (max-width: 1400px) {
    .Headingupper{
        margin-top: 0;
        font-size: 50px;
        }
    
        
    .Headingsub{
        font-size: 50px;
        position: relative;
            bottom: 40px;
    
        
    }

    .induspara {
        font-size: 14px;
        position: relative;
        bottom: 55px;
    }

  }

@media (max-width: 767px) {
    .Headingupper{
    margin-top: 0;
    font-size: 30px;
    }

    
.Headingsub{
    font-size: 30px;
    position: relative;
        bottom: 50px;

    
}

.induspara {
    font-size: 14px;
    position: relative;
    bottom: 55px;
}
.w-industpara{
    width: 70%;
 }


 .Indus-card-para {
    margin-bottom: 30px;
}

}